:root {
  --background: #ffffff;
  --foreground: #000000;
  --colour-positive: hsl(77, 60%, 75%);
  --colour-neutral: hsl(205, 60%, 85%);
  --colour-negative: hsl(334, 60%, 80%);
  --colour-dark-positive: hsl(77, 55%, 60%);
  --colour-dark-neutral: hsl(205, 51%, 57%);
  --colour-dark-negative: hsl(334, 100%, 42%);
}
