@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Vollkorn:wght@400;700&display=swap');

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size: 14px;

$green: hsl(77, 60%, 75%);
$blue: hsl(205, 60%, 85%);
$pink: hsl(334, 60%, 80%);
$white: #ffffff;
$dark-red: #dc143c;
$dark-green: #3df53d;

$app-width: 800px;
$spacer: 6px;

* {
  font-family: 'Vollkorn', serif;
  font-weight: $font-weight-normal;
}

html, body {
  min-height: 100vh;
}
