@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,400;1,800&display=swap');

* {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}

h1 {
  font-size: 200%;
  font-weight: 800;
}