@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Vollkorn:wght@600;900&display=swap');

$font-weight-normal: 600;
$font-weight-bold: 900;

$font-size-xxl: 35px;
$font-size-xl: 26px;
$font-size-l: 22px;
$font-size-m: 16px;
$font-size-s: 11px;

$background: #ffffff;
$foreground: #000000;
$colour-positive: hsl(77, 60%, 75%);
$colour-neutral: hsl(205, 60%, 85%);
$colour-negative: hsl(334, 60%, 80%);
$colour-dark-negative: hsl(334, 100%, 45%);
$colour-dark-positive: hsl(77, 80%, 50%);

$app-width: 800px;
$spacer: 6px;

* {
  font-family: 'Vollkorn', serif;
  font-weight: $font-weight-normal;
  color: $foreground;
}

html,
body {
  min-height: 100vh;
}

.button {
  margin: $spacer;
  padding: $spacer $spacer * 2;
  border-radius: $spacer * 3;
  text-align: center;
}
